/** Add css rules here for your application. */


/** Example rules used by the template application (remove for your app) */
/**
h1 {
  font-size: 2em;
  font-weight: bold;
  color: #777777;
  margin: 40px 0px 70px;
  text-align: center;
}
*/

/*
 * Seitenweite Regeln
 */
* {
	margin: 0;
	padding: 0;
}

html {
	height: 100%;
}

body {
	display: flex;
	flex-flow: column;
	height: 100%;
	font-family: 'Roboto', sans-serif;
	font-weight: 300;
	color: #666;
	background: #eee;
}
#top {
	font-family: 'Montserrat', sans-serif;
	cursor: default;
	display: flex;
	width: 100%;
	flex: 0 1 auto;
	background: #999 url('http://www.jemome.com/cdn/2009/08/light-blue-gradient-website-background_1613200.jpg') no-repeat left 50%;
	background-size: cover;
	justify-content: space-between;
	padding-right: 30px;
	box-sizing: border-box;
}

h1 {
	font-family: 'Montserrat', sans-serif;
	font-weight: 400;
	font-size: 16px;
	width: 20%;
	box-sizing: border-box;
	background: url('ConnectedLogo1.png') no-repeat left 80%;
	background-size: contain;
	margin-left: 20px;
	color: rgba(255,255,255,0.0);
}

h1 a {
	font-family: 'Montserrat', sans-serif;
	display: block;
	color: rgba(255,255,255,0.0);
	padding: 20px 0px 20px 30px;
}

#main {
<<<<<<< HEAD
	height: 95%;
	
}
=======
	height:100%;
	display: flex;
	flex-direction: row;
	flex: 1 1 auto;
	height: 0px;
	overflow-y: hidden;
}
	

>>>>>>> master

#usermenu .gwt-HTML {
	padding: 20px 0px;
}

#usermenu p {
	width: 100%;
	font-size: 16px;
	text-align: right;
	cursor: pointer;
}

#usermenu p a {
	margin-left: 10px;
	padding-left: 10px;
	text-decoration: none;
	color: #666;
	border-left: 1px solid #666;
}

#usermenu {
	display: flex;
	width: 30%;
	justify-content: flex-end;
}

#nav {
<<<<<<< HEAD
  font-family: 'Montserrat', sans-serif;
=======
    font-family: 'Montserrat', sans-serif;
>>>>>>> master
	width: 100%;
	font-weight: 300px;
	display: flex;
	flex-flow: column;
	background: #999 url('http://www.jemome.com/cdn/2009/08/light-blue-gradient-website-background_1613200.jpg') no-repeat left 50%;
<<<<<<< HEAD
  justify-content: flex-top;
	height: inherit;
	overflow-x: hidden;
=======
    justify-content: flex-top;
	height: inherit;
<<<<<<< HEAD
	overflow-x: auto;
>>>>>>> master
=======
	/*overflow-x: auto;*/
>>>>>>> master
}

#nav table {
	font-family: 'Montserrat', sans-serif;
	width:100%;
	padding-right: 15px;
}

#nav button {
	font-family: 'Montserrat', sans-serif;
	width: 90%;
	border: none;
	background: transparent;
	color: #666;
	padding: 15px 0px 15px 20px;
	text-align: left;
	font-size: 100%;
	cursor: pointer;
	
}

#nav button.editor {
	font-family: 'Montserrat', sans-serif;
	background: #009999;
	color: #fff;
}

#nav button:hover,
#nav button:active {
	font-family: 'Montserrat', sans-serif;
	background: #009999;
	color: #fff;
}

#nav .gwt-Button-buttonpressednav{
	background: #009999 !important;
	color: #fff;
}

#nav-wrapper {
	background: #999 url('http://www.jemome.com/cdn/2009/08/light-blue-gradient-website-background_1613200.jpg') no-repeat left 50%;
	width: 20%;
	display: block;
<<<<<<< HEAD
<<<<<<< HEAD
	height: inherit;
=======
	height: 100%;
>>>>>>> master
=======
	height: 95%;
>>>>>>> master
}

#content button {
    border: none;
    background: #009999;
    color: #fff;
    padding: 5px 10px;
    cursor: pointer;	
}

#content {
	font-family: 'Montserrat', sans-serif;
	width: 100%;
	position: flex;
	margin-left: 75px;
  padding-left: 75px;
	margin-top: 10px;
}

#content button:hover,
#content button:active {
	background: #007575;
}

#content button.delete {
    background: #d8581c;	
}

#content button.delete:hover,
#content button.delete:active {
    background: #ab4616;	
}

#repgen-heading {
	text-align: left;
	font-size: 25px;
	padding: 16px 0px;	
	width: 70%;
}

.sendButton {
  display: block;
  font-size: 16pt;
}

/** Most GWT widgets already have a style name defined */
.gwt-DialogBox {
  width: 400px;
}

.dialogVPanel {
  margin: 5px;
}

.serverResponseLabelError {
  color: red;
}

#content .iconButton{
	width: 30px;
	
}

#closeButton {
  margin: 15px 6px 6px;
}

#footer {
    font-family: 'Montserrat', sans-serif;
	  position:absolute;
    bottom: 0;
    padding: 10px 0px;
    text-align: center;
    color: #777;
    font-size: 80%;
    width: 100%;
   	display: flex;
   	justify-content: center;
    background: #999 url('http://www.jemome.com/cdn/2009/08/light-blue-gradient-website-background_1613200.jpg') no-repeat left 50%;
    
}

#footer .gwt-HTML {
	font-family: 'Montserrat', sans-serif;
	margin: 0px 5px;
}

#footer a {
	  font-family: 'Montserrat', sans-serif;
    color: #1c9cd8;
    text-decoration: none;
}

table {
	min-height: 100%;
	max-width: 1280px;
	margin-left: 10px;
}

.gwt-PopupPanel .popupContent .button {
	border: none;
    background: #009999;
    color: #fff;
    padding: 5px 10px;
    cursor: pointer;
}
.lblWelcome {
	font-family: 'Montserrat', sans-serif;
	text-align: center;
	color: #90A4AE;
	font-size: 4rem;
	font-weight: 700;
	padding: 3%;
}

.cellList {
	color:#666;
	font-family: 'Montserrat', sans-serif;
  padding-left: 9px;
	font-weight: 300px;
}

.contactListPanel {
	border-style: hidden;
	border-color: transparent; 
	border-width: 0px;
}

table.content td{
	border: 1px;
}

.gwt-Button-buttonpressednav {
	font-family: 'Montserrat', sans-serif;
	width: 90%;
	border: none;
	background: transparent;
	color: #666;
	padding: 15px 0px 15px 20px;
	text-align: left;
	font-size: 100%;
	cursor: pointer;
	border-radius: 4px;
}

table.gwt-DisclosurePanel {
text-align: left;
margin-left: inherit;
} 

table.cellListPanel.content {
	text-align: left;
  margin-left: inherit;
}

.gwt-PopupPanel button {
	background: #009999;
	color: #fff;
	border: none;
}

.gwt-DialogBox button {
	background: #009999;
	color: #fff;
	border: none;
}
