/** Add css rules here for your application. */


/** Example rules used by the template application (remove for your app) */
/**
h1 {
  font-size: 2em;
  font-weight: bold;
  color: #777777;
  margin: 40px 0px 70px;
  text-align: center;
}
*/

/*
 * Seitenweite Regeln
 */
* {
	margin: 0;
	padding: 0;
}

html {
	height: 100%;
}

body {
	display: flex;
	flex-flow: column;
	height: 100%;
	font-family: 'Roboto', sans-serif;
	font-weight: 300;
	color: #666;
	background: #eee;
}
#top {
	font-family: 'Montserrat', sans-serif;
	cursor: default;
	display: flex;
	width: 100%;
	flex: 0 1 auto;
	background: #999 url('http://www.jemome.com/cdn/2009/08/light-blue-gradient-website-background_1613200.jpg') no-repeat left 50%;
	background-size: cover;
	justify-content: space-between;
	padding-right: 30px;
	box-sizing: border-box;
}

h1 {
	font-family: 'Montserrat', sans-serif;
	font-weight: 400;
	font-size: 16px;
	width: 20%;
	box-sizing: border-box;
	background: url('ConnectedLogo1.png') no-repeat left 80%;
	background-size: contain;
	margin-left: 20px;
	color: rgba(255,255,255,0.0);
}

h1 a {
	font-family: 'Montserrat', sans-serif;
	display: block;
	color: rgba(255,255,255,0.0);
	padding: 20px 0px 20px 30px;
}

#usermenu .gwt-HTML {
	padding: 20px 0px;
}

#usermenu p {
	width: 100%;
	font-size: 16px;
	text-align: right;
	cursor: pointer;
}

#usermenu p a {
	margin-left: 10px;
	padding-left: 10px;
	text-decoration: none;
	color: #666;
	border-left: 1px solid #666;
}

#usermenu {
	display: flex;
	width: 30%;
	justify-content: flex-end;
}

#nav {
    font-family: 'Montserrat', sans-serif;
	width: 25%;
	padding: ;
	position: fixed;
	display: flex;
	flex-flow: column;
	background: #999 url('http://www.jemome.com/cdn/2009/08/light-blue-gradient-website-background_1613200.jpg') no-repeat left 50%;
    justify-content: flex-end;
}

item .gwt-DisclosurePanel-open {
	font-family: 'Montserrat', sans-serif;
	padding: px ;
}

item. gwt-DisclosurePanel-open .content {
	font-family: 'Montserrat', sans-serif;
	padding: 20px ;
} 

#DisclosurePanel {
	font-family: 'Montserrat', sans-serif;
	padding: px;
	
}
#nav table {
	font-family: 'Montserrat', sans-serif;
	width: 100%;
}

#nav button {
	font-family: 'Montserrat', sans-serif;
	width: 100%;
	border: none;
	background: transparent;
	color: #666;
	padding: 15px 0px 15px 20px;
	text-align: left;
	font-size: 100%;
	cursor: pointer;
}

#nav button.editor {
	font-family: 'Montserrat', sans-serif;
	background: #009999;
	color: #fff;
}

#nav button:hover,
#nav button:active {
	font-family: 'Montserrat', sans-serif;
	background: #009999;
	color: #fff;
}

#nav button:focus{
	background: #009999;
	color: #fff;
}

#content button {
    border: none;
    background: #009999;
    color: #fff;
    padding: 5px 10px;
    cursor: pointer;	
}

#content {
	font-family: 'Montserrat', sans-serif;
	width: 100%;
	position: flex;
	margin-left: 75px;
  padding-left: 75px;
	margin-top: 10px;
}

#content button:hover,
#content button:active {
	background: #007575;
}

#content button.delete {
    background: #d8581c;	
}

#content button.delete:hover,
#content button.delete:active {
    background: #ab4616;	
}

#repgen-heading {
	text-align: left;
	font-size: 25px;
	padding: 16px 0px;	
	width: 70%;
}

.sendButton {
  display: block;
  font-size: 16pt;
}

/** Most GWT widgets already have a style name defined */
.gwt-DialogBox {
  width: 400px;
}

.dialogVPanel {
  margin: 5px;
}

.serverResponseLabelError {
  color: red;
}

#closeButton {
  margin: 15px 6px 6px;
}

#footer {
    font-family: 'Montserrat', sans-serif;
	  position:absolute;
    bottom: 0;
    padding: 10px 0px;
    text-align: center;
    color: #777;
    font-size: 80%;
    width: 100%;
   	display: flex;
   	justify-content: center;
    background: #999 url('http://www.jemome.com/cdn/2009/08/light-blue-gradient-website-background_1613200.jpg') no-repeat left 50%;
    
}

#footer .gwt-HTML {
	font-family: 'Montserrat', sans-serif;
	margin: 0px 5px;
}

#footer a {
	  font-family: 'Montserrat', sans-serif;
    color: #1c9cd8;
    text-decoration: none;
}

table {
	min-height: 100%;
	max-width: 1280px;
	margin-left: 10px;
}
