<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://java.sun.com/xml/ns/javaee 
              http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
         version="2.5"
         xmlns="http://java.sun.com/xml/ns/javaee">

    <!-- Default page to serve -->
  <welcome-file-list>
    <welcome-file>Connected_ITProjektSS18.html</welcome-file>
  </welcome-file-list>
    
  
  
  <!--connected Servlets -->
  <servlet>
    <servlet-name>connectedAdminImpl</servlet-name>
    <servlet-class>de.hdm.Connected.server.ConnectedAdminImpl</servlet-class>
  </servlet>
  
  <servlet-mapping>
    <servlet-name>connectedAdminImpl</servlet-name>
    <url-pattern>/connectedadmin</url-pattern>
  </servlet-mapping>


  <servlet>
    <servlet-name>ReportGeneratorServiceImpl</servlet-name>
    <servlet-class>de.hdm.Connected.server.ReportGeneratorServiceImpl</servlet-class>
  </servlet>

  <servlet-mapping>
    <servlet-name>ReportGeneratorServiceImpl</servlet-name>
    <url-pattern>/connectedreportgenerator</url-pattern>
  </servlet-mapping>

</web-app>
